{% extends "base.html" %}
{% load lifting %}

{% block content %}

<section class="row header-row">
    <section class="col-sm-12">
        <a href="{% url 'lifting-day' prev_date.year prev_date.month prev_date.day %}">&larr; Previous</a>
        <h3 class="month-name">{{date|date:"F d Y"}}</h3>
        <a href="{% url 'lifting-day' next_date.year next_date.month next_date.day %}">Next &rarr;</a>
    </section>
</section>

<section class="row">
    <section class="col-sm-5">
        <table class="table day-workouts">
            <thead>
                <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Reps</th>
                <tr>
            </thead>
            <tbody>
                {% for set in sets %}
                <tr>
                    <td><a href="{% url 'lift-detail' set.exercise.id %}">{{set.exercise}}</a></td>
                    <td>{% mass_unit set.weight_kg %}</td>
                    <td>{{set.reps}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>

{% endblock %}
