{% extends "base.html" %}
{% load lifting %}

{% block content %}

<section class="row header-row">
    <section class="col-sm-12">
        <h3>All Lifts</h3>
    </section>
</section>

<section class="row">
    <section class="col-sm-12">
        <table class="table lifts-table">
            <thead>
                <tr>
                <th>Exercise</th>
                <th>Total Sets</th>
                <th>Last Set</th>
                <th>Max Weight</th>
                <th>Estimated 1RM</th>
                </tr>
            </thead>
            <tbody>
                {% for lift in lifts %}
                <tr>
                    <td><a href="{% url 'lift-detail' lift.id %}">{{lift.display_name}}</a></td>
                    <td>{{lift.total}}</td>
                    <td>{{lift.last_date}}</td>
                    <td>{% mass_unit lift.max_kg %} {% mass_label %}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>

{% endblock %}
