{% extends "base.html" %}
{% block content %}

<section class="row header-row">
    <section class="col-sm-12">
        <a href="{% url 'lifting-month' prev_date.year prev_date.month %}">&larr; Previous</a>
        <h3 class="month-name">{{date|date:"F Y"}}</h3>
        <a href="{% url 'lifting-month' next_date.year next_date.month %}">Next &rarr;</a>
    </section>
</section>

<section class="row">
    <section class="col-sm-12">
        <table class="table calendar-month">
            <thead>
                <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <tr>
            </thead>
            <tbody>
            {% for week in days %}
            <tr>
                {% for day in week %}
                    <td class="calendar-day">
                        {% if day %}
                        <div class="day-number">{{day.number}}</div>
                        <ul class="month-day-list">
                            {% for set in day.sets %}
                            <li>
                            {{set}}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</section>

{% endblock %}
