.header-row {
    padding-bottom: 2em;
    text-align: center;
}
.month-name {
    display: inline;
    padding: 0 2em;
}
.calendar-month {
    table-layout: fixed;
}
.calendar-month > thead > tr > th {
    text-align: center;
}
.calendar-month > tbody > tr > td {
    border: 1px solid #666;
    padding: 0 0 2em 0;
}
.calendar-day {
    height: 8em;
}
.day-number {
    width: 100%;
    text-align: right;
    padding: 0 1em 0 0;
    background-color: #ddd;
}
.month-day-list {
    padding-left: 1em;
}
.month-day-list li {
    list-style: none;
}
