{% extends "base.html" %}
{% load lifting %}

{% block content %}

<form method="post">
{% csrf_token %}

<div class="row">
<div class="col-sm-6">
<section class="panel panel-default">
    <header class="panel-heading font-bold">User Information</header>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Email:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Confirm Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password2">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="panel panel-default">
    <header class="panel-heading font-bold">Lifting</header>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Lifting Units:</label>
                <div class="col-sm-8">
                    <div class="radio">
                        <input type="radio" name="lifting_units" value="i" {% if lifting_options.lifting_units == "i" %}checked{% endif %} >lb</input>
                    </div>
                    <div class="radio">
                        <input type="radio" name="lifting_units" value="m" {% if lifting_options.lifting_units == "m" %}checked{% endif %}>kg</input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Barbell:</label>
                <div class="col-sm-8">
                    {% for bar in bars %}
                    <div class="radio">
                        <input type="radio" name="barbell" value="{{bar.id}}" {% if lifting_options.default_bar_id == bar.id %}checked{% endif %}>{{bar}}</input>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Plates:</label>
                <div class="col-sm-8">
                <table class="table">
                    <thead>
                        <tr><td>Weight</td><td># of Pairs</td></tr>
                    </thead>
                    <tbody>
                        {% for weight, n in plates %}
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="{{weight|decimal}}"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="{{n}}"></input></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value=""></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value=""></input></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12"><input type="submit" class="form-control" value="Save Changes"></input> </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>

</form>
{% endblock %}
