{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-sm-6">
<section class="panel panel-default">
    <header class="panel-heading font-bold">User Information</header>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Email:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Confirm Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password2">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="panel panel-default">
    <header class="panel-heading font-bold">Lifting</header>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Lifting Units:</label>
                <div class="col-sm-8">
                    <div class="radio">
                        <input type="radio" name="lifting_unit" value="i">lbs</input>
                    </div>
                    <div class="radio">
                        <input type="radio" name="lifting_unit" value="m">kg</input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Barbell:</label>
                <div class="col-sm-8">
                    <div class="radio">
                        <input type="radio" name="barbell" value="1">Men's Olympic (44lbs / 20kg) </input>
                    </div>
                    <div class="radio">
                        <input type="radio" name="barbell" value="2">Women's Olympic (33lbs / 15kg) </input>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Plates:</label>
                <div class="col-sm-8">
                <table class="table">
                    <thead>
                        <tr><td>Weight</td><td># of Pairs</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="45"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="2"></input></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="25"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="1"></input></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="10"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="1"></input></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="5"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="2"></input></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="2.5"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="1"></input></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="plate_weight" value="1.25"></input></td>
                            <td><input type="text" class="form-control" name="plate_number" value="1"></input></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
{% endblock %}
